# Maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr
out/

# Spring Boot

*.jar
*.war
*.ear
application-local.yml
application-local.properties

# Environment & Secrets

.env
.env.local
*.env

# Docker

docker-compose.override.yml

# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Logs

*.log
logs/

# Eclipse (au cas ou)

.project
.classpath
.settings/